.right-shadow {
  box-shadow: 10px 0 10px 1px rgba(0, 0, 0, 0.6);
}
.cardh {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.cardh:hover{
   box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-10px);
  transition: all 0.3s ease;
}
