<% layout("layouts/boilerplate") %>

<div class="card mb-3 border-dark border-1 rounded-3" style="height: auto;">

  <div class="row g-0 h-100">

    <div class="col-md-5">

      <img
        src="Pictures/Data_security_01.jpg"
        class="img-fluid rounded h-100 w-100 d-none d-md-block right-shadow"
        style="object-fit: cover;"
        alt="Illustration for login security"
      >

    </div>

    <div class="col-md-7">

      <div class="card-body">

        <h3 id="login-heading" class="card-title text-center my-3 display-6">
          Login
        </h3>

        <form
          action="/login"
          class="needs-validation"
          novalidate
          method="post"
          aria-labelledby="login-heading"
        >

          <div class="mb-3 text-center">

            <div class="mb-4">

              <label class="form-label h6" for="username">
                Username:
              </label>

              <input
                class="form-control w-75 mx-auto border-secondary-subtle"
                type="text"
                id="username"
                name="username"
                required
                aria-required="true"
              />

              <div class="valid-feedback">
                Looks Good!
              </div>

            </div>

            <div class="mb-3">

              <label class="form-label h6" for="password">
                Password:
              </label>

              <input
                class="form-control w-75 mx-auto border-secondary-subtle"
                type="password"
                id="password"
                name="password"
                required
                aria-required="true"
              />

              <div class="valid-feedback">
                Looks Good!
              </div>

            </div>

            <div class="justify-content-center">

              <button
                type="submit"
                class="btn btn-success btn-lg my-4"
                aria-label="Login to your account"
              >
                Login
              </button>

            </div>

          </div>

        </form>

      </div>

    </div>

  </div>

</div>